html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#select{
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);
  padding: 20px;
  position: absolute;
  z-index: 2;
}

#map {
  height: 1000px;
  width: 100%;
  z-index: 1;
}

.leaflet-top{
  top: 90px !important;
}