html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#select{
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);
  padding: 20px;
  position: absolute;
  z-index: 10;
}

.angular-leaflet-map {
  z-index: 1;
}

.leaflet-top{
  top: 90px !important;
}
