<div ng-controller="mainCtrl">
  <div class="form-group" id="select">
    <div class="row">
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
        <select class="form-control" ng-model="type" ng-change="getByType(type)">
          <option value="">Все объекты</option>
          <option ng-repeat="option in select"
                  value="{{option.id_type}}"
          >{{option.name_type}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <leaflet id="map" center="grodno" markers="markers"></leaflet>
</div>